header.header
  .header__main
    .container
      .header__main-wrap
        .header__main-item.main-item-js 
          include ../../includes/logo/logo
          .nav-toggle.nav-toggle-js
            span.nav-toggle__icon
              i
              i
              i
            span.nav-toggle__button.nav-toggle__button--hidden меню
            span.nav-toggle__button.nav-toggle__button--visible закрыть
        .header__main-item
          a(class="btn btn--cb" data-fancybox data-src="#call-back" href="javascript:;") обратная связь
  .menu.menu-js
    nav.menu__nav.nav
      ul
        mixin menu(menuItem, active)
          li(class=active).nav__item
            a(href="#")=menuItem
        +menu('Главная', 'nav__item--active')
        +menu('о компании')
        +menu('Фотогалерея')
        +menu('услуги')
        +menu('новости')
        +menu('контакты')
        li.nav__item.nav__item--cb
          a(href="#" class="btn btn--cb") обратная связь
           
.float-social
  //- include ../../includes/social/social
