.main-screen {
  min-height: calc(100vh - var(--headerHeight));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;

  .container {
    @include lg {
      max-width: 90%;
    }

    @include xs {
      max-width: 100%;
    }
  }



  &__title-wrap {
    max-width: rem(910px);
    margin: auto;
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: rem(48px);
    line-height: rem(60px);
    font-weight: 400;
    text-transform: uppercase;
    color: $wc;
    text-align: center;
    margin-bottom: rem(38px);

    @include lg {
      font-size: rem(40px);
      line-height: rem(48px);
      margin-bottom: rem(30px);
    }

    @include md {
      font-size: rem(35px);
      line-height: rem(43px);
      margin-bottom: rem(25px);
    }

    @include sm {
      font-size: rem(30px);
      line-height: rem(38px);
      margin-bottom: rem(20px);
    }

    @include xs {
      font-size: rem(25px);
      line-height: rem(35px);
      margin-bottom: rem(15px);
    }
  }

  &__sub-title {
    font-size: rem(20px);
    line-height: rem(24px);
    text-align: center;
    color: $wc;
    font-weight: 400;

    @include lg {
      font-size: rem(18px);
      line-height: rem(22px);
    }

    @include md {
      font-size: rem(16px);
      line-height: rem(20px);
    }

    @include sm {
      font-size: rem(15px);
      line-height: rem(19px);
    }

    @include xs {
      font-size: rem(14px);
      line-height: rem(18px);
    }
  }
}

