* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $st;
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
  }
}



// flex footer end

// container
.container {
  max-width: rem(1170px);
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(960px);
  }

  @include md {
    max-width: rem(720px);
  }

  @include sm {
    max-width: rem(540px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end

// social
.social {
  @include sm {
    max-width: 100px;
    width: 100%;
  }

  ul {
    li {
      width: rem(30px);
      display: inline-block;

      &:last-child {
        margin: 0 !important;
      }

      a {
        color: $mc;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $bc;

        @include sm {
          font-size: rem(14px);
        }

        &:hover {
          color: $mc;
        }
      }
    }
  }
}

// social end

// logo
.logo {
  max-width: rem(200px);
  width: 100%;
  transition: $tr;
  display: inline-block;
  overflow: hidden;

  @include xs {
    max-width: rem(150px);
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    opacity: 0.7;
  }
}

// logo end

// btn
.btn {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  padding: rem(11px) rem(30px);
  text-transform: uppercase;
  color: $wc;
  font-family: $stb;
  box-sizing: border-box;
  transition: $tr;
  outline: none;
  background-color: $bc;

  @include sm {
    padding: rem(5px) rem(10px);
  }

  &:hover {
    background-color: $mc;
  }

  &--cb {
    border: rem(1px) solid $wc;
    font-size: rem(18px);

    @include sm {
      font-size: rem(13px);
    }

    &:hover {
      border: rem(1px) solid $mc;
    }

  }
}


// btn end


// title
.title {
  font-size: rem(40px);
  font-weight: 400;
  color: $wc;
  text-transform: uppercase;

  @include lg {
    font-size: rem(30px);
  }

  @include md {
    font-size: rem(25px);
  }

  @include sm {
    font-size: rem(20px);
  }

  @include xs {
    font-size: rem(18px);
  }

  &--secondery-title {
    color: $bc;
  }
}

// title end