* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $st;
  // background-color: $wc;
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
  }
}



// flex footer end

// container
.container {
  max-width: rem(1170px);
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(960px);
  }

  @include md {
    max-width: rem(720px);
  }

  @include sm {
    max-width: rem(640px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end

// social
.social {
  @include sm {
    max-width: 100px;
    width: 100%;
  }

  ul {
    li {
      display: inline-block;

      &:last-child {
        margin: 0 !important;
      }

      a {
        width: rem(30px);
        height: rem(30px);
        color: $mc;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $bc;

        @include sm {
          font-size: rem(14px);
        }

        &:hover {
          color: $mc;
        }
      }
    }
  }
}

// social end

// logo
.logo {
  max-width: rem(200px);
  width: 100%;
  transition: $tr;
  display: inline-block;
  overflow: hidden;

  @include xs {
    max-width: rem(150px);
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    opacity: 0.7;
  }
}

// logo end

// btn
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(11px) rem(30px);
  text-transform: uppercase;
  color: $wc;
  font-family: $stb;
  box-sizing: border-box;
  transition: $tr;
  outline: none;
  background-color: $bc;

  @include lg {
    font-size: rem(15px);
  }

  @include md {
    font-size: rem(14px);
  }

  @include sm {
    padding: rem(5px) rem(10px);
  }

  &:hover {
    background-color: $mc;
  }

  &--cb {
    border: rem(1px) solid $wc;
    font-size: rem(18px);

    @include sm {
      font-size: rem(13px);
    }

    &:hover {
      border: rem(1px) solid $mc;
    }

  }
}


// btn end


// title
.title {
  font-size: rem(40px);
  font-weight: 400;
  color: $wc;
  text-transform: uppercase;
  white-space: nowrap;
  min-height: rem(50px);
  
  @include lg {
    font-size: rem(30px);
    min-height: rem(40px);
  }
  
  @include md {
    font-size: rem(25px);
    min-height: rem(35px);
  }
  
  @include sm {
    font-size: rem(20px);
    min-height: rem(35px);
  }
  
  @include xs {
    font-size: rem(18px);
    min-height: rem(30px);
  }

  &--secondery-title {
    color: $bc;
  }

  span {
    transition: $tr;
    margin-left: rem(20px);
    position: absolute;
    opacity: 0;

    &.split-text {
      position: relative;
      margin-left: 0;
      opacity: 1;
    }
  }
}

@for $i from 1 to 100 {
  .title span:nth-child(#{$i}) {
    transition-delay: $i * 0.05s;
  }
}

// title end

// subtitle

.subtitle {
  margin-top: rem(55px);
  font-size: rem(18px);
  line-height: rem(24px);
  color: #d8d8d8;
  font-weight: 300;
  width: 100%;
  max-width: 70%;

  @include md {
    margin-top: rem(20px);
    max-width: 100%;
  }
}

// subtitle end





// breadcrumbs
.breadcrumbs {
  padding-top: rem(25px);

  ul {
    li {
      color: #d8d8d8;
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      font-size: rem(14px);
      padding-right: rem(10px);
      font-weight: 300;

      &:after {
        position: absolute;
        content: '/';
        right: 0;
      }

      &:last-child {
        padding-right: 0;

        &:after {
          display: none;
        }
      }

      a {
        text-transform: uppercase;
        color: $wc;
        font-size: rem(14px);
        font-weight: 400;

        &:hover {
          opacity: .7;
        }
      }
    }
  }
}

// breadcrumbs end



// pagination
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: 500px) {
    justify-content: center;
  }

  &__prev {
    transform: rotate(180deg);

    &.disabled {
      pointer-events: none;
      color: #cccdcc;
    }
  }

  .arrow {
    &:hover {
      i {
        color: $mc;
      }
    }
  }



  &__item {
    display: inline-block;
    font-size: rem(24px);
    font-weight: 300;

    @include xs {
      font-size: rem(16px);
    }

    &.is-active {
      background-color: $mc;

      a {
        color: $wc;
      }
    }


    a {
      color: #5e5e5e;
      width: rem(35px);
      height: rem(35px);
      display: flex;
      align-items: center;
      justify-content: center;

      @include xs {
        width: rem(25px);
        height: rem(25px);
      }

      &:hover {
        background-color: $mc;
        color: $wc;
      }

      &.is-collapsed {
        background-color: transparent;
        color: #5e5e5e;
      }

    }
  }
}

// pagination end

// line 
.line {
  display: flex;
  position: relative;
  width: 100%;
  height: rem(70px);
  overflow: hidden;
  background-color: $wc;
  z-index: 1;

  @include xs {
    display: none;
  }

  span {
    height: rem(70px);
    width: 100%;
    background-color: $mc;
    position: absolute;
  }
}

// line end


// moved-layer
.moved-layer {
  margin-top: rem(-340px);

  @include lg {
    margin-top: rem(-300px);
  }

  @include md {
    margin-top: rem(-220px);
  }
}

// moved-layer end

// banner
.banner {
  min-height: rem(475px);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  @include lg {
    min-height: rem(400px);
  }

  @include md {
    min-height: rem(320px);
  }

  @include xs {
    background-attachment: scroll;
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($bc, .7);
  }
}

// banner end




// modal window
.call-back {
  background-color: transparent;
  padding: rem(10px);

  .contacts__form {
    margin: 0;
  }
}

// modal window end