.float-social {
  display: none;
  padding: rem(5px) 0;
  z-index: 99999;
  background-color: $wc;
  transition: $tr;
  position: fixed;
  right: 0;
  box-shadow: 0 0 rem(15px) 0 rgba(32, 35, 42, .15);

  @include xs {
    display: inline-block;

    .social {
      ul {
        li {
          display: block;
          margin-bottom: rem(5px);
        }
      }
    }
  }
}

.header {
  .logo {
    @include xs {
      margin-bottom: rem(20px);
    }
  }

  &__main {
    background-color: $wc;
    padding: rem(20px) 0;

    @include sm {
      padding: rem(10px) 0;
    }
  }

  &__main-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @include xs {
      flex-direction: column;
      align-items: center;
    }
  }

  &__main-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include sm {
      display: flex;
      flex-direction: column-reverse;
    }

    &.main-item-js {
      box-sizing: border-box;

      @include xs {
        display: flex;
        padding-right: 0;
        justify-content: space-between;
        width: 100%;
      }
    }

    .social {
      margin-right: rem(20px);

      @include sm {
        margin-right: 0;
        margin-top: rem(10px);
      }

      i {
        color: #ababab;
      }
    }
  }

  .menu {
    width: 100%;
    background-color: $bc;
    box-sizing: border-box;
    transform: translateX(-200%);
    transition: all .6s;
    position: absolute;
    z-index: 2;

    &.menu-open {
      transform: translateX(0);
    }

    .nav {
      padding: rem(28px) 0;

      &__item {
        margin-bottom: rem(20px);

        a {
          color: #535458;
          text-transform: uppercase;
          font-family: $stb;

          &:hover {
            color: $wc;
          }
        }

        &--active {
          a {
            color: $wc;
          }
        }

        &--cb {
          display: none;

          @include xs {
            display: block;
          }
        }
      }
    }
  }
}