.services {
  &__banner {
    min-height: rem(360px);
    position: relative;

    @include md {
      min-height: rem(300px);
    }

    @include sm {
      min-height: rem(250px);
    }

    &:before {
      position: absolute;
      content: '';
      background-color: rgba($bc, .58);
      width: 100%;
      height: 100%;
    }

    .title {
      margin-top: rem(100px);

      @include md {
        margin-top: rem(85px);
      }

      @include sm {
        margin-top: rem(75px);
      }
    }
  }

  &__block {
    .line {
      span {
        width: 65%;
      }
    }

    &:nth-child(2n) {
      .services__wrap {
        flex-direction: row-reverse;

        @include xs {
          flex-direction: column;
        }
      }

      .line {
        span {
          right: 0;
        }
      }
    }

    @include xs {
      border-bottom: rem(10px) solid $mc;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: row;

    @include xs {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;

    &:first-child {
      width: 100%;
      max-width: 35%;
      background-color: #d2e6f2;
      display: flex;
      align-items: center;
      justify-content: center;

      @include xs {
        max-width: 100% !important;
      }
    }

    &:last-child {
      background-color: $mc;
      width: 100%;
      max-width: 65%;

      @include xs {
        max-width: 100% !important;
      }
    }


  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 100%;
    max-width: rem(190px);
    padding: rem(15px);

    @include xs {
      max-width: rem(150px);
    }
  }

  &__desc {

    background-color: #20232a;
    box-sizing: border-box;
    padding-top: rem(70px);
    padding-bottom: rem(70px);
    padding-left: rem(70px);
    min-height: rem(500px);

    @include sm {
      padding-top: rem(30px);
      padding-bottom: rem(30px);
      padding-left: rem(30px);
      min-height: rem(350px);
    }

    @include xs {
      min-height: rem(300px);
      text-align: center;
      padding: rem(20px) rem(10px) !important;

      * {
        font-size: 15px;
      }
    }
  }

  &__detail {
    .subtitle {
      p {
        margin-bottom: rem(15px);
      }
    }

    .line {
      width: 35%;
      height: rem(140px);

      span {
        width: 50%;

        &:first-child {
          left: 0;
        }

        &:last-child {
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  &__link {
    color: $mc;
    margin-top: rem(40px);
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    padding-right: rem(20px);

    &:after {
      position: absolute;
      content: '';
      font-family: 'fonticon';
      opacity: 0;
      transition: $tr;
      font-size: rem(13px);
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      right: 0;

      &:after {
        transform: translate(10px, -50%);
        opacity: 1;
      }
    }
  }

  &__item-wrap {
    margin: rem(70px) 0 rem(30px);

    @include lg {
      margin: rem(60px) 0 rem(30px);
    }

    @include md {
      margin: rem(50px) 0 rem(30px);
    }

    @include sm {
      margin: rem(40px) 0 rem(30px);
    }

    @include xs {
      margin: rem(35px) 0 rem(30px);
    }


    ol {
      display: flex;
      flex-direction: row;
      counter-reset: item;

      @include xs {
        flex-direction: column;
      }

      li {
        flex-basis: 20%;
        border: rem(1px) solid $wc;
        border-top: none;
        color: $wc;
        text-align: center;
        text-transform: uppercase;
        padding: rem(50px) rem(15px) rem(10px);
        line-height: rem(20px);
        position: relative;
        list-style-type: none;

        @include lg {
          font-size: rem(12px);
          line-height: rem(16px);
          padding: rem(42px) rem(10px) rem(10px);
        }

        @include md {
          font-size: rem(10px);
          line-height: rem(14px);
          padding: rem(35px) rem(8px) rem(10px);
          font-weight: 300;
        }

        @include sm {
          text-transform: none;
          font-size: rem(9px);
          line-height: rem(13px);
          padding: rem(30px) rem(5px) rem(10px);
          font-weight: 300;
        }

        @include xs {
          flex-basis: 100%;
          padding: rem(20px) rem(10px);
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: flex-end;
          font-size: rem(16px);
          line-height: normal;
          text-align: left;

          &:first-child {
            border-top: rem(1px) solid $wc;
          }
        }

        &:before,
        &:after {
          position: absolute;
          content: '';
          height: rem(1px);
          width: calc(100% - 151px);
          background-color: $wc;
          top: 0;

          @include lg {
            width: calc(100% - 124px);
          }

          @include md {
            width: calc(100% - 95px);
          }

          @include sm {
            width: calc(100% - 68%);
          }

          @include xs {
            display: none;
          }
        }

        &:before {
          left: 0;
        }

        &:after {
          right: 0;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          max-width: rem(76px);
          width: 100%;
          height: rem(76px);
          border: solid rem(2px) $wc;
          border-radius: 100%;
          top: rem(-39px);
          left: 50%;
          transform: translateX(-50%);

          @include lg {
            max-width: rem(60px);
            height: rem(60px);
            top: rem(-31px);
          }

          @include md {
            max-width: rem(50px);
            height: rem(50px);
            top: rem(-25px);
          }

          @include sm {
            max-width: rem(40px);
            height: rem(40px);
            top: rem(-20px);
          }

          @include xs {
            position: relative;
            top: auto;
            left: auto;
            transform: translateX(0);
            margin-right: rem(10px);
          }

          &:before {
            position: absolute;
            content: '';
            max-width: rem(60px);
            width: 100%;
            height: rem(60px);
            border-radius: 100%;
            background-color: #ffffff;

            @include lg {
              max-width: rem(50px);
              height: rem(50px);
            }

            @include md {
              max-width: rem(40px);
              height: rem(40px);
            }

            @include sm {
              max-width: rem(30px);
              height: rem(30px);
            }
          }

          &:after {
            position: absolute;
            content: counter(item) " ";
            counter-increment: item;
            font-size: rem(30px);
            color: $mc;

            @include lg {
              font-size: rem(25px);
            }

            @include md {
              font-size: rem(20px);
            }

            @include sm {
              font-size: rem(15px);
            }
          }

        }
      }
    }
  }
}