.preloader
  .preloader__first-layer
  .preloader__second-layer
  .preloader__gate
    .preloader__img
      img(src="./assets/img/euro.svg", alt="")
  .preloader__gate
    .preloader__img
      img(src="./assets/img/lift.svg", alt="")