.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    flex-basis: 50%;

    @include xs {
      flex-basis: 100%;
    }
  }

  &__prewiev {
    position: relative;

    &:hover {
      &:before {
        opacity: 1;
      }

      .btn {
        grid-column: $mc;
      }
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
    }

    &:before {
      transition: $tr;
      border: rem(1px) solid $wc;
      opacity: 0;
      top: rem(30px);
      right: rem(30px);
      bottom: rem(30px);
      left: rem(30px);
      z-index: 1;

      @include lg {
        top: rem(20px);
        right: rem(20px);
        bottom: rem(20px);
        left: rem(20px);
      }

      @include md {
        top: rem(15px);
        right: rem(15px);
        bottom: rem(15px);
        left: rem(15px);
      }
    }

    &:after {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($bc, .5);
    }
  }

  &__info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;

    &:hover {
      .btn {
        background-color: $mc;
      }
    }
  }

  &__title {
    margin-bottom: rem(59px);
    color: $wc;
    text-transform: uppercase;
    font-size: rem(40px);
    text-align: center;
    font-weight: 400;

    @include lg {
      font-size: rem(25px);
      margin-bottom: rem(30px);
    }

    @include md {
      font-size: rem(20px);
      margin-bottom: rem(25px);
    }

    @include sm {
      font-size: rem(18px);
      margin-bottom: rem(20px);
    }
  }

  &__link {
    position: absolute;
  }

  &__album {
    display: none;
  }
}