extends layout/main/main
block title
  | main
block main
  //- include includes/preloader/preloader
  .wrapper
    .content
      include includes/header/header
      .main
      
        section.main-screen.parallax-window(data-parallax="scroll" data-speed="0.3"  data-image-src="./assets/img/main1.jpg")
          .container
            .main-screen__title-wrap
              h2.main-screen__title УЛУЧШЕНИЕ ТЕЧЕНИЯ <br> ГОРОДСКОЙ ЖИЗНИ
              p.main-screen__sub-title Мы поставляем ведущие в отрасли лифты, эскалаторы, пассажирские конвейеры, автоматические и промышленные двери,погрузочные платформы, а также инновационные решения по доступу для технического обслуживания и модернизации.  
        section.about.indent
          .container
            .title-main-wrap
              h2.title-main Кто мы?
              p.title-main__short-desc Мы представляем KONE в качестве дистрибьютора. Мы занимаемся продажей, установкой, техническим обслуживанием и модернизацией лифтов, эскалаторов и автоматических дверей KONE.
            .about__more-wrap 
              a(href="#") подробнее
                 i.icon-angle
        section.about__total
          mixin total(icon, count, name)
            .about__total-item
              .about__item-wrap
                .about__total-icon
                  i(class=icon)
                .about__total-count=count
                .about__total-name=name
          +total('icon-tick', 45, 'установленных лифта')    
          +total('icon-users', 891, 'довольных клиентов')    
          +total('icon-house', 45, 'завершенных проекта')
        section.services.indent.parallax-window(data-parallax="scroll" data-speed="0.3"  data-image-src="./assets/img/contacts.jpg")  
          .container  
            .title-main-wrap.title-main-wrap_lighter-tile
              h2.title-main Наши услуги
              p.title-main__short-desc Компания KONE предлагает передовые решения в отрасли: экоэффективные лифты, эскалаторы, пассажирские конвейеры и автоматические двери. Узнайте больше о наших продуктах ниже:
            .services__item-wrap
              ol
                mixin serciceItem(item)
                  li=item
                    span
                +serciceItem('продажа оборудования')  
                +serciceItem('монтаж')  
                +serciceItem('обслуживание')  
                +serciceItem('модернизация')  
                +serciceItem('ремонт')  
            a(class="btn" href="#") ПОДРОБНЕЕ      
        section.projects.indent.parallax-window(data-parallax="scroll" data-speed="0.9"  data-image-src="./assets/img/about.jpg")  
          .container
            .title-main-wrap.title-main-wrap_lighter-tile
              h2.title-main Наши проекты
              p.title-main__short-desc Компания KONE предлагает передовые решения в отрасли: экоэффективные лифты, эскалаторы, пассажирские конвейеры и автоматические двери. Узнайте больше о наших продуктах ниже:
              p.title-main__short-desc Компания KONE предлагает передовые решения в отрасли: экоэффективные лифты, эскалаторы, пассажирские конвейеры и автоматические двери. Узнайте больше о наших продуктах ниже:
            a(class="btn" href="#") ПОСМОТРЕТЬ      
            
    include includes/footer/footer


  include includes/scripts 
  script.
    var leftDesc = $('.container').offset().left;
    $('.left-desc').css('padding-left',leftDesc)




  