extends layout/main/main
block title
  | main
block main
  .wrapper
    .content
      include includes/header/header
      .main
        section.main-screen.parallax-window(data-parallax="scroll" data-speed="0.3"  data-image-src="./assets/img/main1.jpg")
          .container
            .main-screen__slider.slider.scroll-effect(data-rellax-speed="-3.5")
              .swiper-container
                  .swiper-wrapper
                    mixin slide(title,text,link)
                      .swiper-slide
                        .slider__title.title.title--secondery-title=title 
                        .slider__text=text 
                        a(href=link class="slider__more") Подробнее 
                          i.icon-play
                    +slide('ПАССАЖИРСКИЕ КОНВЕЙЕРЫ', 'Наши пасажирские конвейеры устанавливают стандарты в дизайне,  энергоэффективности, безопасноти и энергносбережении.', '#')
              .navigation    
                .prev.slider-button
                  i.icon-angle
                .next.slider-button
                  i.icon-angle

        section.advantages.first-section.section
          .section__wrap
            .first-section-item
              .section__img1
                .advantages__desc.left-desc
                  h2.title высокая эффективность
                  .sub-title
                    ul
                      li
                      li
                      li
                    p Высокая эффективность и снижение выбросов углекислого газа
                .background-image.parallax-window(data-parallax="scroll" data-speed="0.8"  data-image-src="./assets/img/main2.jpg" data-bleed="20")
              .advantages__desc.left-desc
                h2.title высокая эффективность
                .sub-title
                  ul
                    li
                    li
                    li
                  p Высокая эффективность и снижение выбросов углекислого газа
            .second-section-item
              .advantages__count
                span.scroll-effect(data-rellax-speed="4.4") 01
              .section__img2
                .background-image.parallax-window(data-parallax="scroll" data-speed="0.8"  data-image-src="./assets/img/main3.jpg")
          .line
              span
    
        section.advantages.second-section.section.parallax-window(data-parallax="scroll" data-speed="0.2"  data-image-src="./assets/img/main4.jpg" data-bleed="20")
          .section__wrap
            .second-section-item
              .advantages__count.advantages__count--dark
                span.scroll-effect(data-rellax-speed="2") 02
              .section__img3
                .background-image.parallax-window(data-parallax="scroll" data-speed="0.6" data-image-src="./assets/img/main1.jpg" data-z-index="1" data-bleed="20")
              .line
                span    
            .first-section-item
              .advantages__desc
                h2.title полный Комфорт
                .sub-title
                  ul
                    li
                    li
                    li
                  p Высокий уровень комфорта поездки

        section.advantages.third-section.section.parallax-window(data-parallax="scroll" data-speed="0.7"  data-image-src="./assets/img/main6.jpg" data-bleed="20" data-z-index="1")
          .section__wrap
            .first-section-item
              .advantages__desc.left-desc
                h2.title стильный дизайн
                .sub-title
                  ul
                    li
                    li
                    li
                  p Дизайн удостоенный наград украсит ваше здание  
            .second-section-item
              .advantages__count
                span.scroll-effect(data-rellax-speed="1.15") 03

        .line()
          span


  
     

    include includes/footer/footer


  include includes/scripts 
  script.
    var leftDesc = $('.container').offset().left;
    $('.left-desc').css('padding-left',leftDesc)
